In [103]:
import pandas as pd
import numpy as np

In [104]:
df=pd.read_csv('sport.csv')
df

   Sno     Sky Air temperature Humidity    Wind Water Forecast Enjoy sport
0    1   Sunny            Warm   Normal  Strong  Warm     Same         Yes
1    2   Sunny            Warm     High  Strong  Warm     Same         Yes
2    3   Rainy            Cold     High    Weak  Warm   Change          No
3    4   Sunny            Warm     High  Strong  Cool   Change         Yes
4    5  Cloudy            Warm   Normal  Strong  Cool     Same          No

In [105]:
df=df.iloc[:,1:]
df

      Sky Air temperature Humidity    Wind Water Forecast Enjoy sport
0   Sunny            Warm   Normal  Strong  Warm     Same         Yes
1   Sunny            Warm     High  Strong  Warm     Same         Yes
2   Rainy            Cold     High    Weak  Warm   Change          No
3   Sunny            Warm     High  Strong  Cool   Change         Yes
4  Cloudy            Warm   Normal  Strong  Cool     Same          No

In [106]:
A=df.values
A

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Rainy', 'Cold', 'High', 'Weak', 'Warm', 'Change', 'No'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes'],
       ['Cloudy', 'Warm', 'Normal', 'Strong', 'Cool', 'Same', 'No']],
      dtype=object)

In [107]:
s=['0']*(len(A[0])-1)
s

['0', '0', '0', '0', '0', '0']

In [108]:
G=[["?" for i in range(len(s))] for j in range(len(s))]
G

[['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?'],
 ['?', '?', '?', '?', '?', '?']]

In [109]:
for i in range(len(s)):
    s[i]=A[0][i]
print(s)

['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']

In [110]:
k=0
for sample in A:
    if sample[-1]=="Yes":
        for c in range(len(sample)-1):
            if s[c]=='0':
                s[c]=sample[c]
            if s[c]!=sample[c]:
                s[c]='*'
                G[c][c]='?'
    elif sample[-1]=="No":
        for c in range(len(sample)-1):
            if sample[c]!=s[c] and s[c]!='*':
                G[c][c]=s[c]
            else:
                G[c][c]='?'

    k+=1
    print("sample: ",k)
    print("Specific Hypothesis: \n",s)
    print("General Hypothesis:")
    for i in range(len(G)):
        if(G[i]!=['?','?','?','?','?','?']):
            print(G[i])
    print()

sample:  1
Specific Hypothesis:
 ['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']
General Hypothesis:

sample:  2
Specific Hypothesis:
 ['Sunny', 'Warm', '*', 'Strong', 'Warm', 'Same']
General Hypothesis:

sample:  3
Specific Hypothesis:
 ['Sunny', 'Warm', '*', 'Strong', 'Warm', 'Same']
General Hypothesis:
['Sunny', '?', '?', '?', '?', '?']
['?', 'Warm', '?', '?', '?', '?']
['?', '?', '?', 'Strong', '?', '?']
['?', '?', '?', '?', '?', 'Same']

sample:  4
Specific Hypothesis:
 ['Sunny', 'Warm', '*', 'Strong', '*', '*']
General Hypothesis:
['Sunny', '?', '?', '?', '?', '?']
['?', 'Warm', '?', '?', '?', '?']
['?', '?', '?', 'Strong', '?', '?']

sample:  5
Specific Hypothesis:
 ['Sunny', 'Warm', '*', 'Strong', '*', '*']
General Hypothesis:
['Sunny', '?', '?', '?', '?', '?']