In [18]:
import pandas as pd
import numpy as np

In [19]:
df=pd.read_csv('sport.csv')
df

   Sno     Sky Air temperature Humidity     Wind Water Forecast Enjoy sport
0    1   Sunny            Warm   Normal   Strong  Warm     Same         Yes
1    2   Sunny            Warm     High  Strong   Warm     Same         Yes
2    3   Rainy            Cold     High     Weak  Warm   Change          No
3    4   Sunny            Warm     High   Strong  Cool   Change         Yes
4    5  Cloudy            Warm   Normal   Strong  Cool     Same          No

In [20]:
df=df.iloc[:,1:]
df

      Sky Air temperature Humidity     Wind Water Forecast Enjoy sport
0   Sunny            Warm   Normal   Strong  Warm     Same         Yes
1   Sunny            Warm     High  Strong   Warm     Same         Yes
2   Rainy            Cold     High     Weak  Warm   Change          No
3   Sunny            Warm     High   Strong  Cool   Change         Yes
4  Cloudy            Warm   Normal   Strong  Cool     Same          No

In [21]:
A=df.values
A

array([['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same', 'Yes'],
       ['Sunny', 'Warm', 'High', 'Strong ', 'Warm', 'Same', 'Yes'],
       ['Rainy', 'Cold', 'High', 'Weak', 'Warm', 'Change', 'No'],
       ['Sunny', 'Warm', 'High', 'Strong', 'Cool', 'Change', 'Yes'],
       ['Cloudy', 'Warm', 'Normal', 'Strong', 'Cool', 'Same', 'No']],
      dtype=object)

In [23]:
h=['0']*(len(A[0])-1)
h

['0', '0', '0', '0', '0', '0']

In [24]:
for row in A:
    if row[-1]=="Yes":
        for c in range(len(row)-1):
            if(h[c]=='0'):
                h[c]=row[c]
            elif(h[c]!=row[c]):
                h[c]='?'
        print(h)

['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']
['Sunny', 'Warm', '?', '?', 'Warm', 'Same']
['Sunny', 'Warm', '?', '?', '?', '?']